@import "@/shared/styles/index.sass"

.Poster
  position: relative
  margin: 3rem auto
  width: 80rem
  aspect-ratio: 16 / 9
  &__container
    padding: 0 4rem
  &_text_default
    @extend .PosterText
  &__leftSide
    padding: 1rem
  &__title
    font-size: 4rem
    font-weight: bold
  &__description
    margin: 2rem 0
    font-size: 1.625rem
    font-weight: 500 
    & > p
      margin: 1rem 0
    & > ul
      margin: 1rem 0
  &__rightSide
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  &__imageWrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 23.75rem
    aspect-ratio: 1 / 1
  &__datetime
    margin: 1rem 0
    font-size: 1.625rem
  &__emoji
    position: absolute
    z-index: -1